$bg-color: #e0f7fa;

#image-component {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: darken(#fff, 3%);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;

    overflow: scroll;

    .drop-zone {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 2px dashed darken($bg-color, 45%);
        .drop-zone-text {
            color: darken($bg-color, 55%);
            font-weight: 600;
            padding: 5px;
        }
    }

    .image {
        width: 100%
    }
}