#sprites-list-component {
    grid-column: 5;
    grid-row: 1;
    background-color: darken(#fff, 3%);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    max-height: 100vh;
    overflow-y: scroll;
    user-select: none;

    & > div {
        margin: 5px 0;
        &:first-of-type {
            margin: 0;
        }
    }

    .sprite-item {
        $bg-color: #b0ceff;
        background: $bg-color;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid darken($bg-color, 5%);
        color: desaturate(darken($bg-color, 50%), 85%);
        cursor: pointer;
        &:hover {
            background-color: darken($bg-color, 10%);
            color: desaturate(darken($bg-color, 70%), 85%);
        }
    }
    .additional-info {
        .name {
            font-weight: 700;
        }
        animation: openAdditionalInfo 0.5s ease;
        background: #fff;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 0 0 5px 5px;
        color: #555;
        overflow-y: hidden;
        font-size: 0.9em;
    }
}

@keyframes openAdditionalInfo {
    0% {
        opacity: 0.6;
        max-height: 0
    }
    100% {
        opacity: 1;
        max-height: 300px
    }
}